<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administration Panel</title>
    <link rel="stylesheet"  href="../static/css/layout.css" th:href="@{/css/Layout.css}">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Email</th>
        <th>Balance</th>
        <th>Password Reset</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.isEmpty()}">
        <td colspan="3">Nothing to display</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.getEmail()}">Email</span></td>
        <td><span th:text="${user.getBalance()}">Balance</span></td>
        <td>
            <button><a th:href="@{/passwordReset/{id}(id=${user.getId()})}">Change Password</a></button>
        </td>
        <td>
            <div th:if="${user.isActive()} == true">
                <button><a th:href="@{/administrationPanel/deactivate/{id}(id=${user.getId()})}">Deactivate</a></button>
            </div>
            <div th:if="${user.isActive()} == false">
                <button><a th:href="@{/administrationPanel/activate/{id}(id=${user.getId()})}">Activate</a></button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>