<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Bangla Bank</title>
    <link rel="stylesheet" href="../static/css/layout.css" th:href="@{/css/Layout.css}">
</head>
<body>
<div sec:authorize="!isAuthenticated()">
    <button><a th:href="@{/login}">Login</a></button>
    <button><a th:href="@{/register}">Register</a></button>
</div>
<div sec:authorize="isAuthenticated()">
    <div class="topRight" >
        <span th:text="${#authentication.getPrincipal().getUser().getEmail()}">example@example.com</span>
        <span th:text="${#authentication.getPrincipal().getUser().getBalance()}">100</span>
    </div>
    <button><a th:href="@{/transactionHistory}">Transaction History</a></button>
    <button><a th:href="@{/sendTransaction}">Send Transaction</a></button>
    <button><a th:href="@{/bankDeposit}">Deposits</a></button>
    <div th:if="${#authentication.getPrincipal().getUser().isUserAdmin()}">
        <button><a th:href="@{/administrationPanel}">Administration Panel</a></button>
    </div>
    <br>
    <button><a th:href="@{/logout}">Logout</a></button>
</div>
</body>
</html>