<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="../static/css/layout.css" th:href="@{/css/Layout.css}">
</head>
<body>
<form action="#" th:action="@{'/passwordReset/' + ${user.getId()}}" modelAttribute="passwordResetForm" th:object="${passwordResetForm}" method="post">
    <table>
        <tr>
            <td>User:</td>
            <td><span th:text="${user.getEmail()}"></span></td>
        </tr>
        <tr>
            <td>New password:</td>
            <td><input type="password" th:field="*{password}"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
        </tr>
        <tr>
            <td>Password Confirm</td>
            <td><input type="password" th:field="*{passwordConfirm}"/></td>
            <td th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}"></td>
        </tr>
    </table>
    <br>
    <button type="submit" class="submitButton">Submit</button>
</form>
</body>
</html>